{% extends 'de_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block 'content'%}
<script src='{% static 'js/better-filter-widget.js' %}'></script>
<link href='{% static 'css/better-filter-widget.css' %}' rel="stylesheet">
<!-- Nav tabs -->
 <ul class="nav nav-tabs" role="tablist">
   <li role="presentation"{%if tab is False %} class="active"{%endif%}><a href="#restaurant" aria-controls="restaurant" role="tab" data-toggle="tab">Restaurant</a></li>
   <li role="presentation"{%if tab == 'dishes'%} class="active"{%endif%}><a href="#dishes" aria-controls="dishes" role="tab" data-toggle="tab">Dishes</a></li>
   <li role="presentation"{%if tab == 'blogs'%} class="active"{%endif%}><a href="#blogs" aria-controls="blogs" role="tab" data-toggle="tab">Blogs</a></li>
   <li role="presentation"><a href="#recipes" aria-controls="recipes" role="tab" data-toggle="tab">Recipes</a></li>
 </ul>

 <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane{%if tab is False%} active{%endif%}" id="restaurant">
    <h2>{{action}} Restaurant</h2>
    {% include 'de_restaurantform.html'%}
  </div>
  <div role="tabpanel" class="tab-pane{%if tab == 'dishes'%} active{%endif%}" id="dishes">
    {% if dishform %}
      <h2>Add a dish <small>@ <em>{{form.instance.name}}</small></em></h2>
      {% include 'de_dishform.html' with form=dishform async=True %}
      <hr>
      <div id="existing-dishes">
        <h3>Existing dishes <small>@ <em>{{form.instance.name}}</small></em></h3>
        <div class="row card-row">
          {% for dish in dishes %}
            {% include 'dish_card.html' with admin=True %}
            {% cycle '' '' '</div><div class="row card-row">' %}
          {% empty %}
            <h4 class="text-muted text-center">No existing dishes</h4>
          {% endfor %}
        </div>
      </div>
    {%else%}
      <h4 class="text-center">Please finish adding a new restaurant before adding its dishes or blogs</h3>
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{%if tab == 'blogs'%} active{%endif%}" id="blogs">
    {% if blogform %}
      <h2>Add a blog <small>@ <em>{{form.instance.name}}</small></em></h2>
      {% include 'de_blogform.html' with form=blogform async=True %}
      <hr>
      <div id="existing-blogs">
        <h3>Existing blogs <small>@ <em>{{form.instance.name}}</small></em></h3>
        <div class="row card-row">
          {% for blog in blogs %}
            {% include 'blog_card.html' with admin=True %}
            {% cycle '' '' '</div><div class="row card-row">' %}
          {% empty %}
            <h4 class="text-muted text-center">No existing blogs</h4>
          {% endfor %}
        </div>
      </div>
    {%else%}
      <h4 class="text-center">Please finish adding a new restaurant before adding its dishes or blogs</h3>
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{%if tab == 'recipes'%} active{%endif%}" id="recipes">
    {% if recipeform %}
      <h2>Add a recipe <small>@ <em>{{form.instance.name}}</small></em></h2>
      {% include 'de_recipeform.html' with formset=recipeformset form=recipeform async=True %}
      <hr>
      <div id="existing-recipes">
        <h3>Existing recipes <small>@ <em>{{form.instance.name}}</small></em></h3>
        <div class="row card-row">
          {% for recipe in recipes %}
            {% include 'recipe_card.html' with admin=True %}
            {% cycle '' '' '</div><div class="row card-row">' %}
          {% empty %}
            <h4 class="text-muted text-center">No existing recipes</h4>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h4 class="text-center">Please finish adding a new restaurant before adding its dishes or blogs</h3>
    {% endif %}
  </div>
</div>
<script>
  $(document).ready(function(){DE.currentPage = new DE.pageManagers.Restaurant()})
</script>
{%endblock%}
