{% load bootstrap3 %}
<form method="post" action="{% if async%}/data-entry/forms/recipes/"
      class="async-managed{%endif%}">
  {% csrf_token %}
  {% bootstrap_field form.name %}
  {% if dishes %}
    <input type="hidden" value="{{dishes.0.instance.restaurant.id}}" name="restaurant_id" />
    <div class="form-group">
      <label>{{form.dish.label}}</label><br>
      {% for radio in form.dish %}
        {% if forloop.counter0 > 0%}
        <label for="{{ radio.id_for_label }}" class="radio-inline">
          {{ radio.tag }} {{ radio.choice_label }}
        </label>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% bootstrap_field form.source_url placeholder='https://somewebsite.com/' %}
  <div class="row">
    <div class="col-sm-4">
      {% bootstrap_field form.prep_time_seconds %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field form.cook_time_seconds %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field form.servings %}
    </div>
  </div>
  {% bootstrap_field form.difficulty %}
  {% bootstrap_field form.notes %}
  <div class="row">
    <div class="col-sm-6">
      {% bootstrap_field form.keywords %}
    </div>
    <div class="col-sm-6">
      {% bootstrap_field form.tags %}
      <div class="help-text text-muted">{{form.tags.help_text}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="id_image">Image</label>
        {{form.image_url}}
      </div>
    </div>
  </div>
  <h4 class="dividing">Recipe ingredients</h4>
  {% include 'de_recipeingredientform.html' %}
  {% if async is False and form.instance.id%}
    <input type="hidden" name="id" value="{{form.instance.id}}" />
  {% endif %}
  {% bootstrap_button "SUBMIT" button_type="submit" button_class="btn-success btn-block" %}
</form>
{% if form.instance.dishes.count %}
<hr>
<h3>Dishes with this recipe</h3>
<div class="row card-row">
  {% for dish in form.instance.dishes.all %}
    {% include 'dish_card.html' with admin=True %}
    {% cycle '' '' '</div><div class="row card-row">' %}
  {% endfor %}
</div>
{% endif%}
