{% load bootstrap3 %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_field recipeform.name %}
  {% if dishes %}
    <div class="form-group">
      <label>{{recipeform.dish.label}}</label><br>
      {% for radio in recipeform.dish %}
        {% if forloop.counter0 > 0%}
        <label for="{{ radio.id_for_label }}" class="radio-inline">
          {{ radio.tag }} {{ radio.choice_label }}
        </label>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% bootstrap_field recipeform.source_url placeholder='https://somewebsite.com/' %}
  <div class="row">
    <div class="col-sm-4">
      {% bootstrap_field recipeform.prep_time_seconds %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field recipeform.cook_time_seconds %}
    </div>
    <div class="col-sm-4">
      {% bootstrap_field recipeform.servings %}
    </div>
  </div>
  {% bootstrap_field recipeform.difficulty %}
  {% bootstrap_field recipeform.notes %}
  <div class="row">
    <div class="col-sm-6">
      {% bootstrap_field recipeform.keywords %}
    </div>
    <div class="col-sm-6">
      {% bootstrap_field recipeform.tags %}
      <div class="help-text text-muted">{{recipeform.tags.help_text}}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label class="control-label" for="id_image_url">Image</label>
      {{recipeform.image_url}}
    </div>
    <div class="col-sm-6">
      <img src="{{recipeform.image_url.value|default:"https://cdn.feedmeeapp.com/images/1489613123874.jpg"}}" style="max-height:350px;" class="img-responsive pull-right" id="recipe_img">
    </div>
  </div>
  <h4 class="dividing">Recipe ingredients</h4>
  <form method="post" action="">
  {{ formset.management_form }}
      {% for form in formset %}
        <div class="row">
          <div class="col-sm-6">
            {% bootstrap_field form.ingredient %}
          </div>
          <div class="col-sm-1">
            {% bootstrap_field form.quantity %}
          </div>
          <div class="col-sm-2">
            {% bootstrap_field form.unit_type %}
          </div>
          <div class="col-sm-2">
            {% bootstrap_field form.ingredient_type %}
          </div>
          <div class="col-sm-1">
            <label>Delete</label>
            <a href="#" class="btn btn-danger">X</a>
          </div>
        </div>
      {% endfor %}
  </form>
  {% bootstrap_button "SUBMIT" button_type="submit" button_class="btn-success btn-block" %}
</form>
{% if recipeform.instance.dishes.count %}
<hr>
<h3>Dishes with this recipe</h3>
<div class="row card-row">
  {% for dish in recipeform.instance.dishes.all %}
    {% include 'dish_card.html' with admin=True %}
    {% cycle '' '' '</div><div class="row card-row">' %}
  {% endfor %}
</div>
{% endif%}
