<div class="pagination text-center center-block">
  <span class="step-links">
    <ul class="pagination">
      {% if collection.has_previous is False %}
        <li class="disabled"><a href="#">&laquo;</a></li>
      {% else %}
        <li><a href="?page={{ collection.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      {% for pg in collection.paginator.page_range %}
        {% if pg == collection.number %}
          <li class="active"><a href="?page={{pg}}">{{pg}}</a></li>
        {% else %}
          <li><a href="?page={{pg}}">{{pg}}</a></li>
        {% endif %}
      {% endfor %}
      {% if collection.has_next is False %}
        <li class="disabled"><a href="#">&raquo;</a></li>
      {% else %}
        <li><a href="?page={{ collection.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </span>
  <p>{{collection | length }} items of {{collection.paginator.count}} total</p>
</div>
