{% extends "flatpages/fp_base.html" %}

{% load static %}

{% block title %} | {{post.title}}{% endblock %}
{% block extra_headers %}
  <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
{% endblock %}
{% block opening %}
<div class="col-md-6 col-sm-7 opening-text">
  <h1><strong>Blogs</strong></h1>
</div>
{% endblock %}

{% block content %}
{% for post in posts %}
  <div class="blog-card container">
    <div class="col-sm-7">
      <a href="/blog/{{post.slug}}/"><img src="{{post.image_url}}" class="img-responsive"></a>
    </div>
    <div class="col-sm-5">
      <a href="/blog/{{post.slug}}/"><h3>{{post.title}}</h3></a>
      <h3 class="blog-post-card-date"><small>{{post.created|date:"d M Y"}}</small></h3>
      <div class="blog-post-content">
        {{post.content|striptags|truncatewords:30 }}
      </div><br>
      <a href="/blog/{{post.slug}}/">Read more</a>
    </div>
  </div>
{% endfor %}
{% include 'simple-pagination.html' with collection=posts %}
{% endblock %}
