packages:
  yum:
    postgresql95-devel: []
    git: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: root/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings
container_commands:
  01_yuminstall:
    command: "yum --enablerepo=epel -y install https://s3-us-west-2.amazonaws.com/fdme-deps/geos-3.5.0-1.rhel6.x86_64.rpm https://s3-us-west-2.amazonaws.com/fdme-deps/pgdg-ami201503-95-9.5-3.noarch.rpm"
    test: "[ \"$(rpm -q pgdg-ami201503-95-9.5-3.noarch)\" != \"pgdg-ami201503-95-9.5-3.noarch\" ]"
    ignoreErrors: true
  02_yuminstall:
    command: "yum --enablerepo=epel -y install https://s3-us-west-2.amazonaws.com/fdme-deps/poppler-0.12.4-11.el6.x86_64.rpm"
    test: "[ \"$(rpm -q poppler-0.12.4-11.el6.x86_64)\" != \"poppler-0.12.4-11.el6.x86_64\" ]"
    ignoreErrors: true
  03_yuminstall:
    command: "yum --enablerepo=epel -y install https://s3-us-west-2.amazonaws.com/fdme-deps/postgis22_95-2.2.5-1.rhel6.x86_64.rpm"
    test: "[ \"$(rpm -q poppler-0.12.4-10.el6.x86_64)\" != \"poppler-0.12.4-10.el6.x86_64\" ]"
    ignoreErrors: true
  04_migrate:
    command: "python manage.py migrate --noinput"
    test: "[ \"$ROLE\" != \"WORKER\" ]"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
    test: "[ \"$ROLE\" != \"WORKER\" ]"
    leader_only: true
