packages:
  yum:
    postgresql94-devel: []
    git: []
    geos: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: root/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings
container_commands:
  01_yuminstall:
    command: "yum -y install http://download.postgresql.org/pub/repos/yum/9.4/redhat/rhel-6.8-x86_64/pgdg-ami201503-94-9.4-3.noarch.rpm"
    test: "rpm -q pgdg-ami201503-94-9.4-3.noarch"
    ignoreErrors: true
  02_yuminstall:
    command: "yum --enablerepo=epel -y install postgis2_94 http://centos-distro.cavecreek.net/centos/6.8/os/x86_64/Packages/poppler-0.12.4-10.el6.x86_64.rpm"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
