packages:
  yum:
    postgresql95-devel: []
    git: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: root/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
