<!DOCTYPE html>
<html>
<head>
  <title>{{recipe.name}}| Feedmee</title>
  <meta property="description"        content="Just one of Feedmee's 500+ recipes" />
  <meta property="fb:app_id"          content="" />
  <meta property="og:title"           content="{{recipe.name}}" />
  <meta property="og:description"     content="Just one of Feedmee's 500+ recipes" />
  <meta property="og:type"            content="recipe" />
  <meta property="og:image"           content="{{recipe.image_url}}" />
  <meta property="og:image:url"       content="{{recipe.image_url}}" />
  <meta property="og:image:secure_url"content="{{recipe.image_url}}" />
  <meta property="og:image:type"      content="image/jpg" />
  <meta property="og:image:alt"       content="{{recipe.name}}" />
  <meta property="restaurant:section" content="All" />
  <meta property="og:url"             content="https://use.feedmeeapp.com/recipe/{{recipe.id}}" />
  <meta property="al:ios:url"         content="feedmee://recipe/{{recipe.id}}" />
  <meta property="al:ios:app_store_id"content="1120549992" />
  <meta property="al:ios:app_name"    content="Feedmee" />
  {% if deeplink.useragent_is_target %}
    <script>
      window.location = 'feedmee://recipe/{{recipe.id}}';
      setTimeout(function () {
        window.location = 'https://itunes.apple.com/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992';
      }, 1000);
    </script>
  {% endif %}
</head>
<body></body>
</html>
