<div class="card-wrapper col-sm-4">
  <div class="card panel panel-default">
    <div class="panel-heading panel-heading-image" style="background-image: url({{dish.image_url}})">
    </div>
    <div class="panel-body">
      <h4><a href="/dishes/{{dish.id}}/">{{dish.title}}</a></h4>
      <p>{{dish.description}}</p>
      <p>{{dish.price_format}}</p>
      <a href="https://instagram.com/{{dish.instagram_user}}">@{{dish.instagram_user}}</a>
      {% if admin %}
        <div class="pull-right">
          <ul class="list-inline">
            <li><a href="/data-entry/dishes/{{dish.id}}/change/" class="btn btn-default">
              Edit</a></li>
            <li><a href="/data-entry/dishes/{{dish.id}}/delete/" class="btn btn-danger">
              Delete</a></li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
