{% extends "app_base.html" %}

{% load static %}

{% block title %} | {{restaurant.name}}{% endblock %}

{% block content %}
{% include 'partials/restaurant-detail.html' %}
<hr style="margin-bottom:0">
<footer class="bg-grey text-center">
  <ul class="list-inline" style="margin-bottom:0">
    <li class="list-inline-item"><a href="#">Report a closure</a></li>
    <li class="list-inline-item">|</li>
    <li class="list-inline-item"><a href="#">Report an error</a></li>
  </ul>
</footer>
{% endblock %}
