body {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: #4A4A4A;
}
.container-padded {
  padding-left: 25px;
  padding-right: 25px;
}
#restaurant-header-img {
  padding-bottom: 65%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
}
.TA_selfserveprop {
    display: inline-block;
}
.dish-card .card-img-top {
  width: 100%;
  padding-bottom: 65%;
  background-size: cover;
  background-position: center center;
}
.card.dish-card {
  display: inline-block;
}
.card.dish-card .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 198px;
  display: inline-block;
  overflow: hidden;
}
a.share-link {
  color: #000;
  font-weight: 900;
}
a.share-link > i,
#more-info-accordion > .card .card-header i {
  color:#e73d57;
}
.bg-navbar {
  background-color: #E73D57;
}
#nav-logo {
  height: 32px;
  margin: -10px 0;
  margin-top: -16px;
}
#nav-getapp {
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 40px;
  padding: 3px 15px;
  margin-top: 3px;
}
#more-info-accordion > .card {
  margin: 10px 0;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: none;
  background-color: #f8f8f8;
}
#more-info-accordion > .card .card-block,
#more-info-accordion > .card .card-header {
  background-color: #f8f8f8;
  border-bottom: none;
}
#more-info-accordion > .card .card-header a {
  color: #9B9B9B;
}
table.opening-times > tbody > tr > td {
  padding: 4px;
}
table.opening-times > tbody > tr > td:first-child {
  padding-right: 13px;
}
h3.fm-typog {
  /*font-size: 20px;*/
  font-weight: 900;
}
h1.fm-typog, h2.fm-typog, h3.fm-typog,
h4.fm-typog, h5.fm-typog, h6.fm-typog {
  font-weight: 900;
}
h1.fm-typog.fm-typog-red, h2.fm-typog.fm-typog-red, h3.fm-typog.fm-typog-red,
h4.fm-typog.fm-typog-red h5.fm-typog.fm-typog-red, h6.fm-typog.fm-typog-red {
  color: #E73D57;
}

.text-danger {
  color: #E73D57;
}
.bg-grey {
  background-color: #f8f8f8;
}
.card-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
footer {
  padding: 30px;
  color: #9B9B9B;
}
footer > ul > li > a {
  color: #9B9B9B;
}
a {
  color: #E73D57;
}
hr.gutter {
  background-color: #eee;
  height: 8px;
  margin-bottom: 0;
  margin-top: 0;
}
.share-block {
  margin-top: 15px;
}
.share-block > li:not(.title) > div {
  color: #FFF;
  background: #E73D57;
  border-radius: 5px;
  padding: 0px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18.5px;
  line-height: 35px;
}
.share-block > li:not(.title) > div > a {
  color: #FFF;
}
.btn-red-hollow {
  color:#E73D57;
  border: 1px solid #E73D57;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  height:35px;
  line-height: 35px;
  padding: 0 8px;
  vertical-align: baseline;
}
.btn-red-hollow:hover,
.btn-red-hollow:focus {
  color:#be1e33;
}