{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'flatpages/head_meta.html' %}
<body class="home">
  {% include 'flatpages/body_scripts.html' %}
  <div class="root">
    <div class="wrapper ">
      {% include 'flatpages/header.html' %}
      <main id="main">
        <div class="section-opening">
          <div class="container">
            <div class="col-md-6 col-sm-7 opening-text">
              <h1>Feed yourself, feed the world</h1>
              <p>Feedmee is your all-in-one food app that learns and recommends the food you love, so you can spend more time eating, less time thinking.
                Best of all every time you book a table or order food delivery through the app, we donate a meal to someone in need.
              </p>

<a class="button-outline" href="https://itunes.apple.com/au/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992?mt=8"><img src="{% static 'images/apple-logo@2x.png' %}" alt="">AppStore</a>
<a class="button-outline" href="http://eepurl.com/cPK-Ab"><img src="{% static 'images/android-logo@2x.png' %}" alt="">PlayStore</a>
              <div class="featured-image">
                <p>FEATURED IN</p>
                <img src="{% static 'images/yahoo-logo@2x.png' %}" alt="Yahoo">
                <img src="{% static 'images/startupdaily-logo@2x.png' %}" alt="Startup Daily">
                <img src="{% static 'images/bn-logo@2x.png' %}" alt="Business News">
              </div>
            </div>
            <div class="col-md-6 col-sm-5 opening-image">
              <img src="{% static 'images/phone@2x.png' %}" alt="">
            </div>
          </div>
        </div>
        <!-- end: .section-opening -->
        <div class="section-help" style="margin: 55px 0;">
          <div class="container">
            <h2>We are taking the decision making out of eating for you</h2>
            <p style="font-size: 18px;">So that you can spend <strong>more time eating, less time thinking.</strong> Eating in or out, Feedmee learns and recommends the food you love.</p>
          </div>
        </div>
        <!-- end: .section-help -->
        <div class="section-benefits">
          <div class="container">
            <div class="benefit-wrapper">
              <h2>Things you can do on Feedmee</h2>
              <div class="benefit-list">
                <img src="{% static 'images/find-recipe@2x.png' %}" alt="RECIPES & MEAL PLANNER">
                <div class="benefit-desc">
                  <h4>RECIPES & MEAL PLANNER</h4>
                  <p><strong>We help you decide WHAT to eat and HOW you get it.</strong> Feedmee has over {{num_recipes}} recipes for your to choose from. It also has a meal planner that automatically plans your weekly meals based on what you like and your dietary needs.</p>
                </div>
              </div>
              <div class="benefit-list">
                <img src="{% static 'images/book@2x.png' %}" alt="Book a table">
                <div class="benefit-desc">
                   <h4>RESTAURANTS</h4>
                  <p>We also help you <strong>decide where to go</strong> on your special occasions. Once you’ve found the one, you can book a table, order on-demand delivery or call an Uber to take you there.</p>
                 </div>
              </div>
              <div class="benefit-list">
                <img src="{% static 'images/deliver@2x.png' %}" alt="Order delivery">
                <div class="benefit-desc">
                  <h4>IT LEARNS WHAT YOU LIKE</h4>
                  <p>Feedmee’s recommendation engine is constantly <strong>learning what you love</strong> so it can show you the most relevant food, whether you’re eating in or eating out.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: .section-benefits -->
        <div class="section-help">
          <div class="container">
            <h2>Most importantly, we help you give back to the community</h2>
            <p>Use Feedmee to feed yourself, and as you're eating you'll know you have fed someone in need, too.</p><br>
            <img src="{% static 'images/box-hearth@2x.png' %}" alt="">
            <p>Together, we’ve helped to feed</p>
            <h2><span class="fed-counter">1,890</span> people in need.</h2>
            <a class="button-pink" href="/donation/">See More</a>
          </div>
        </div>
        <!-- end: .section-help -->
        <script>
          $(document).ready(function(){
            $.getJSON("https://use.feedmeeapp.com/api/donations/", function(d) {
              var c = d.count.toString().split('').reverse().join('')
                  .replace(/(\d{3}(?!.*\.|$))/g,'$1,')
                  .split('').reverse().join('');
              $(".fed-counter").text(c);
            })
          });
        </script>
        <div class="section-featured">
          <div class="container">
            <h3>Featured in</h3>
            <div class="featured-list hidden-sm hidden-xs">
              <ul>
                <li><img src="{% static 'images/startupdaily-black@2x.png' %}" alt="Startup Daily"></li>
                <li><img src="{% static 'images/yahoo-purple@2x.png' %}" alt="Yahoo News"></li>
                <li><img src="{% static 'images/hit-92.9@2x.png' %}" alt="Hit 92.9"></li>
                <li><img src="{% static 'images/watoday@2x.png' %}" alt="WA Today"></li>
                <li><img src="{% static 'images/bn-color@2x.png' %}" alt="Business News"></li>
                <li><img src="{% static 'images/ozawards@2x.png' %}" alt="OzApp Awards"></li>
                <li><img src="{% static 'images/business-wire@2x.png' %}" alt="Business Wire"></li>
              </ul>
            </div>
            <div class="featured-list-mobile visible-sm visible-xs">
              <div class="featured-list-image"><img src="{% static 'images/startupdaily-black@2x.png' %}" alt="Startup Daily"></div>
              <div class="featured-list-image"><img src="{% static 'images/yahoo-purple@2x.png' %}" alt="Yahoo News"></div>
              <div class="featured-list-image"><img src="{% static 'images/hit-92.9@2x.png' %}" alt="Hit 92.9"></div>
              <div class="featured-list-image"><img src="{% static 'images/watoday@2x.png' %}" alt="WA Today"></div>
              <div class="featured-list-image"><img src="{% static 'images/bn-color@2x.png' %}" alt="Business News"></div>
              <div class="featured-list-image"><img src="{% static 'images/ozawards@2x.png' %}" alt="OzApp Awards"></div>
              <div class="featured-list-image"><img src="{% static 'images/business-wire@2x.png' %}" alt="Business Wire"></div>
            </div>
          </div>
        </div>
        <!-- end: .section-featured -->
        <div class="section-download">
          <div class="container">
            <h3>Download Now</h3>
            <ul class="list-unstyled">
              <li>
                <a href="https://itunes.apple.com/au/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992?mt=8">
                  <img src="{% static 'images/apple-logo@2x.png' %}" alt="AppStore icon">
                  <p>AppStore</p>
                </a>
              </li>
              <li>
                <a href="http://eepurl.com/cPK-Ab">
                  <img src="{% static 'images/android-logo@2x.png' %}" alt="PlayStore icon">
                  <p>PlayStore</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end: .section-store -->
      </main>
      {% include 'flatpages/footer.html' %}
    </div>
    <!-- end: .wrapper -->
  </div>
  <!-- end: .root -->
</body>
</html>
