{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Privacy policy pertaining to the use of Feedmee App" />
  <meta name="keywords" content="" />
  <meta property="og:image" content="{% static 'images/og-image.jpg' %}" />
  <meta property="og:image:height" content="312" />
  <meta property="og:image:width" content="596" />
  <meta property="og:title" content="Feedmee app | Eat out, give back">
  <meta property="og:description" content="The food app that helps you give back.  Every time you book a table or order food delivery through the app, we donate a meal to someone in need.">
  <meta property="og:url" content="www.feedmeeapp.com">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title>Feedmee - Privacy Policy</title>
  <script src="{% static 'js/fdme.min.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
  <link href="{% static 'css/fdme.min.css' %}" rel="stylesheet" />
</head>
<body class="home">
  {% include 'flatpages/body_scripts.html' %}
  <div class="root">
    <div class="wrapper ">
<header class="section-header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="{% static 'images/logo.svg' %}" alt="Feedmee"></a>
    </div>
    <button type="button" class="navbar-toggle burger visible-sm visible-xs">
        <div class="burger-wrapper">
            <div class="x"></div>
            <div class="y"></div>
            <div class="z"></div>
        </div>
        <p>Menu</p>
    </button>
    <div class="main-menu">
      <ul class="list-unstyled list-inline">
        <li><a href="/impact/">Impact</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li class="button-download"><a href="https://itunes.apple.com/au/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992?mt=8" target="_blank">Download</a></li>
      </ul>
    </div>
    <div class="menu-bg visible-sm visible-xs"></div>
  </div>
</header>
<!-- end: .section-header -->
      <main id="main">
        <div class="section-opening">
          <div class="container">
            <div class="col-md-6 col-sm-7 opening-text">
              <h1>Privacy Policy</h1>
            </div>
          </div>
        </div>
        <!-- end: .section-opening -->
        <div class="section-benefits section-terms">
          <div class="container">
<p>This Privacy Policy governs your use of the software application Feedmee App (“App”) for mobile devices that was created by Feedmee App PTY.LTD. The Application is a mobile food finding app.</p>
<hr>
<h3>What information does the Feedmee App obtain and how is it used?</h3>

<p>a) User Provided Information

<p>Feedmee App obtains the information you provide when you download and register the App. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by Feedmee App unless you register with us.</p>

<p>When you register with us and use Feedmee App, you generally provide (a) your name, email address, age, user name, password and other registration information; (b) transaction-related information, such as when you make purchases, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) credit card information for purchase within the app, and; (e) information you enter into our system when using Feedmee App, such as contact information.</p>

<p>We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.</p>

<p> b) Automatically Collected Information</p>

<p>In addition, Feedmee App may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the App.</p>

Does the Application collect precise real time location information of the device?

<p>Yes, Feedmee App needs to know where you are in order to display the most relevant listing near you.</p>

<h3>Do third parties see and/or have access to information obtained by Feedmee App?</h3>

<p>Only aggregated, anonymized data is periodically transmitted to external services to help us improve the App and our service. We will share your information with third parties only in the ways that are described in this privacy statement.</p>

<p>We may disclose User Provided and Automatically Collected Information:</p>
<ul>
  <li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
  <li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</li>
  <li>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
  <li>if Feedmee App is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</li>
</ul>

<h3>What are my opt-out rights?</h3>

<p>You can stop all collection of information by the App easily by uninstalling the App. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at <a href="mailto:hello@feedmeeapp.com">hello@feedmeeapp.com</a></p>

<h3>Data Retention Policy, Managing Your Information</h3>

<p>We will retain User Provided data for as long as you use the App and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at helllo@feedmeeapp.com and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>

<h3>Children</h3>

<p>We do not use the App to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at hello@feedmeeapp.com. We will delete such information from our files within a reasonable time.</p>

<h3>Security</h3>

<p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorised employees and contractors who need to know that information in order to operate, develop or improve our App. Please be aware that, although we endeavour provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>

<h3>Changes</h3>

<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via email. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by clicking here.</p>

<h3>Your Consent</h3>

<p>By using  Feedmee App, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in Australia. If you reside outside Australia your information will be transferred, processed and stored there under Australian privacy standards.</p>

<h3>Contact us</h3>

<p>If you have any questions regarding privacy while using Feedmee App, or have questions about our services, please contact us via <a href="mailto:hello@feedmeeapp.com">hello@feedmeeapp.com</a></p>
          </div>
        </div>
      </main>
      {% include 'flatpages/footer.html' %}
    </div>
    <!-- end: .wrapper -->
  </div>
  <!-- end: .root -->
</body>
</html>
