{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Terms pertaining to the use of Feedmee App" />
  <meta name="keywords" content="" />
  <meta property="og:image" content="{% static 'images/og-image.jpg' %}" />
  <meta property="og:image:height" content="312" />
  <meta property="og:image:width" content="596" />
  <meta property="og:title" content="Feedmee app | Eat out, give back">
  <meta property="og:description" content="The food app that helps you give back.  Every time you book a table or order food delivery through the app, we donate a meal to someone in need.">
  <meta property="og:url" content="www.feedmeeapp.com">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title>Feedmee - Terms of use</title>
  <script src="{% static 'js/fdme.min.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
  <link href="{% static 'css/fdme.min.css' %}" rel="stylesheet" />
</head>
<body class="home">
  <div class="root">
    <div class="wrapper ">
<header class="section-header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="{% static 'images/logo.svg' %}" alt="Feedmee"></a>
    </div>
    <button type="button" class="navbar-toggle burger visible-sm visible-xs">
        <div class="burger-wrapper">
            <div class="x"></div>
            <div class="y"></div>
            <div class="z"></div>
        </div>
        <p>Menu</p>
    </button>
    <div class="main-menu">
      <ul class="list-unstyled list-inline">
        <li><a href="/impact/">Impact</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li class="button-download"><a href="https://itunes.apple.com/au/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992?mt=8" target="_blank">Download</a></li>
      </ul>
    </div>
    <div class="menu-bg visible-sm visible-xs"></div>
  </div>
</header>
<!-- end: .section-header -->
      <main id="main">
        <div class="section-opening">
          <div class="container">
            <div class="col-md-6 col-sm-7 opening-text">
              <h1>Terms</h1>
            </div>
          </div>
        </div>
        <!-- end: .section-opening -->
        <div class="section-benefits section-terms">
          <div class="container">
<h2>Terms and Conditions for App Use</h2>
<p>Please take the time to read these terms and conditions.  By using Feedmee App and the Services and information offered on Feedmee App, you are agreeing to these terms and conditions.</p>

<p>If you purchase products through our mobile app (i.e. restaurant offers and discounts), there will be additional terms and conditions relating to the purchase.  Please make sure you agree with these terms and conditions, which you will be directed to read prior to making your purchase.</p>

<h3>Definitions</h3>

<p>Services means [food finding mobile application]; the Mobile App means the mobile application [Feedmee App]</p>

<p>We / Us etc. means Feedmee App Pty.LTd. and any subsidiaries, affiliates, employees, officers, agents or assigns.</p>
<hr>
<h3>Accuracy of content</h3>

<p>We have taken proper care and precautions to ensure that the information we provide on this Mobile Application is accurate.  However, we cannot guarantee, nor do we accept any legal liability arising from or connected to, the accuracy, reliability, currency or completeness of anything contained on this Mobile Application or on any linked applications.</p>

<p>The information contained on this Mobile Application should not take the place of professional advice.</p>

<h3>Use</h3>

<p>The Mobile Application is made available for your use on your acceptance and compliance with these terms and conditions.  By using this Mobile Application, you are agreeing to these terms and conditions.</p>

<p>You agree that you will use this mobile application in accordance with all applicable local, state, national and international laws, rules and regulations.</p>

<p>You agree that you will not use, nor will you allow or authorise any third party to use, the Mobile Application for any purpose that is unlawful, defamatory, harassing, abusive, fraudulent or obscene way or in any other inappropriate way or in a way which conflicts with the Mobile Application or the Services.</p>

<p>If you contribute to our forum (if any) or make any public comments on this Mobile Application which are, in our opinion, unlawful, defamatory, harassing, abusive, fraudulent or obscene or in any other way inappropriate or which conflict with the Mobile Application or the Services offered, then we may at our discretion, refuse to publish such comments and/or remove them from the Mobile Application.</p>

<p>We reserve the right to refuse or terminate service to anyone at any time without notice or reason.</p>

<h3>Passwords and logins</h3>

<p>You are responsible for maintaining the confidentiality of your passwords and login details and for all activities carried out under your password and login.</p>

<h3>Indemnification for loss or damage</h3>

<p>You agree to indemnify Us and hold Us harmless from and against any and all liabilities or expenses arising from or in any way related to your use of this Mobile Application or the Services or information offered on this Mobile Application, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and solicitors fees of every kind and nature incurred by you or any third parties through you.</p>

<h3>Intellectual property and copyrights</h3>

<p>We hold the copyright to the content of this Mobile application, including all uploaded files, layout design, data, graphics, articles, file content, codes, news, tutorials, videos, reviews, forum posts and databases contained on the Mobile Application or in connection with the Services. You must not use or replicate our copyright material other than as permitted by law.  Specifically, you must not use or replicate our copyright material for commercial purposes unless expressly agreed to by Us, in which case we may require you to sign a Licence Agreement.</p>

<p>If you wish to use content, images or other of our intellectual property, you should submit your request to us at hello@feedmeeapp.com</p>

<h3>Trademarks</h3>

<p>The trademarks and logos contained on this Mobile Application are trademarks of Feedmee App Pty. Ltd.  Use of these trademarks is strictly prohibited except with Our express, written consent.</p>

<h3>Links to external websites and Mobile Applications</h3>

<p>This Mobile Application may contain links that direct you outside of this Website and other Mobile Applications.  These links are provided for your convenience and are not an express or implied indication that we endorse or approve of the linked Website/Mobile Application, it’s contents or any associated website/mobile application, product or service.  We accept no liability for loss or damage arising out of or in connection to your use of these sites and mobile applications.</p>

<p>You may link to our articles or home page.  However, you should not provide a link which suggests any association, approval or endorsement on our part in respect to your website, unless we have expressly agreed in writing.  We may withdraw our consent to you linking to our site at any time by notice to you.</p>

<h3>Limitation of Liability</h3>

<p>We take no responsibility for the accuracy of any of the content or statements contained on this Mobile Application or in relation to our Services.  Statements made are by way of general comment only and you should satisfy yourself as to their accuracy.  Further, all of our Services are provided without a warranty with the exception of any warranties provided by law.  We are not liable for any damages whatsoever, incurred as a result of or relating to the use of the Mobile Application or our Services.</p>

<h3>Information Collection</h3>

<p>Use of information you have provided us with, or that we have collected and retained relating to your use of the Mobile Application and/or our Services, is governed by our Privacy Policy.  By using this Mobile Application and the Services associated with this Mobile Application, you are agreeing to the Privacy Policy.</p>

<h3>Confidentiality</h3>

<p>All personal information you give us will be dealt with in a confidential manner in accordance with our Privacy Policy.  However, due to circumstances outside of our control, we cannot guarantee that all aspects of your use of this Mobile Application will be confidential due to the potential ability of third parties to intercept and access such information.</p>

<h3>Governing Law</h3>

<p>These terms and conditions are governed by and construed in accordance with the laws of Western Australia, Australia.  Any disputes concerning this Mobile Application are to be resolved by the courts having jurisdiction in Western Australia.</p>

<p>We retain the right to bring proceedings against you for breach of these Terms and Conditions, in your country of residence or any other appropriate country or jurisdiction.</p>
          </div>
        </div>
      </main>
<footer class="section-footer">
  <div class="footer-links">
    <div class="container">
      <div class="list-links">
        <h4>What we do</h4>
        <ul>
          <li><a href="/impact/">Impact</a></li>
          <li><a href="/events/">Events</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="https://itunes.apple.com/au/app/feedmee-discover-food-4-you-eat-out-give-back/id1120549992?mt=8">Download</a></li>
        </ul>
      </div>
      <div class="list-links">
        <h4>About us</h4>
        <ul>
          <li><a href="/team/">Team</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end: .footer-links -->
  <div class="footer-bottom">
    <div class="container">
      <div class="social-links">
        <div class="logo-icon">
          <img src="/static/images/feedmee-heart.svg" alt="Feedmee Heart">
        </div>
        <ul class="list-unstyled">
          <li><a href="https://www.instagram.com/feedmeeapp_au/"><img src="{% static 'images/instagram.svg' %}" alt=""></a></li>
          <li><a href="https://www.facebook.com/Feedmeeapp/"><img src="{% static 'images/facebook.svg' %}" alt=""></a></li>
          <li><a href="https://twitter.com/FeedmeeA"><img src="{% static 'images/twitter.svg' %}" alt=""></a></li>
          <li><a href="https://www.linkedin.com/company-beta/13179226/"><img src="{% static 'images/linkedin.svg' %}" alt=""></a></li>
          <li><a href="https://medium.com/feedmee-app"><img src="{% static 'images/medium.svg' %}" alt=""></a></li>
        </ul>
      </div>
      <div class="term-links">
        <ul class="list-unstyled">
          <li><a href="/privacy/">Privacy</a></li>
          <li><a href="/terms/">Term of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end: .footer-bottom -->
</footer>
    </div>
    <!-- end: .wrapper -->
  </div>
  <!-- end: .root -->
</body>
</html>
