{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,900&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <title>Feedmee{% block page-title %}{%endblock%}</title>
  </head>
  <body>
    <style>

    </style>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-navbar">
        <div class="row">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="navbar-brand" href="#"><img id="nav-logo" src="{% static 'icons/feedmee_logo.svg' %}"></a></li>
          </ul>
          <ul class="navbar-nav ml-auto" style="margin-right: 15px;">
            <li class="nav-item right"><a href="/" class="nav-link" id="nav-getapp">Get app</a></li>
          </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
