{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <h1>User Engagement</h1>
    </div>
  </div>
  <br><bR>
  <div class="row">
    <div class="col-sm-12">
      <h3>Dish Swipes <br><small>All time</small></h3>
      <table class="table table-striped table-bordered table-rounded">
        <thead>
          <th>Over 100 Swipes</th>
          <th>50 - 99 Swipes</th>
          <th>20 - 49 Swipes</th>
          <th>1 - 19 Swipes</th>
        </thead>
        <tbody id='swipes-body'>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Recipe Swipes <br><small>All time</small></h3>
      <table class="table table-striped table-bordered table-rounded">
        <thead>
        <th>Over 100 Swipes</th>
        <th>50 - 99 Swipes</th>
        <th>20 - 49 Swipes</th>
        <th>1 - 19 Swipes</th>
        </thead>
        <tbody id='rswipes-body'>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <h2><small>Total Users</small></h2>
      <h2 id='total-users'></h2>
    </div>
    <div class="col-sm-6 text-center">
      <h2><small>Total Users who never swiped</small></h2>
      <h2 id="non-swipers"></h2>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm-12">
      <h2>Last 24 Hours Only</h2>
    </div>
  </div>
  <br><bR>
  <div class="row">
    <div class="col-sm-12">
      <h3>Dish Swipes</h3>
      <table class="table table-striped table-bordered table-rounded">
        <thead>
          <th>Over 100 Swipes</th>
          <th>50 - 99 Swipes</th>
          <th>20 - 49 Swipes</th>
          <th>1 - 19 Swipes</th>
          <th>0 Swipes</th>
        </thead>
        <tbody id='swipes-body-new'>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Recipe Swipes</h3>
      <table class="table table-striped table-bordered table-rounded">
        <thead>
        <th>Over 100 Swipes</th>
        <th>50 - 99 Swipes</th>
        <th>20 - 49 Swipes</th>
        <th>1 - 19 Swipes</th>
        <th>0 Swipes</th>
        </thead>
        <tbody id='rswipes-body-new'>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <h2><small>Recent Users</small></h2>
      <h2 id='recent-users'></h2>
    </div>
    <div class="col-sm-3 text-center">
      <h2><small>New Signups</small></h2>
      <h2 id='new-users'></h2>
    </div>
    <div class="col-sm-3 text-center">
      <h2><small>New Queries</small></h2>
      <h2 id='new-queries'></h2>
    </div>
    <div class="col-sm-3 text-center">
      <h2><small>New swipes</small></h2>
      <h2 id='new-swipes'></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2><small>New recipe swipes</small></h2>
      <h2 id="new-rswipes"></h2>
    </div>
  </div>
</div>
<script>
function get_users() {
  $.getJSON('/api/reporting/users/', function (data) {
    $('#total-users').text(data.users)
  })
}
function build_table(prop_name, target, data) {
  var first_row = '<tr>';
  var second_row = '<tr>';
  for (var i=0; i<data[prop_name].count.length; i++) {
    first_row += '<td>' + data[prop_name].count[i] + '</td>';
    second_row += '<td>' + data[prop_name].percent[i] + '%</td>';
  }
  first_row += '</tr>';
  second_row  += '</tr>';
  $(target).html(first_row+second_row);
}
function get_engagement(endpoint, prop_names, targets,callback) {
  $.getJSON('/api/reporting/'+endpoint+'/', function (data) {
    for (var i=0; i<prop_names.length; i++) {
      build_table(prop_names[i], targets[i], data)
    }
    if (endpoint === 'engagement') $('#non-swipers').text(data.non_swipers)
    if (typeof callback === 'function') callback(data)
  })
}
function get_recent() {
  get_engagement('recent',
      ['swipes', 'recipe_swipes'],
      ['#swipes-body-new', '#rswipes-body-new'], function (data) {
    $('#new-users').text(data.new_signups);
    $('#new-queries').text(data.new_queries);
    $('#new-swipes').text(data.new_swipes);
    $('#new-rswipes').text(data.new_rswipes);
    $('#recent-users').text(data.recent_users);
  })
}
$(document).ready(function () {
  get_engagement('engagement', ['swipes', 'recipe_swipes'],
        ['#swipes-body', '#rswipes-body']);
  get_recent();
  get_users();
  setInterval(get_users, 45000);
  setInterval(get_recent, 15000);
})
</script>
{% endblock %}
